{% extends "partials/base.html" %} {% load static %} {% block content %}

<div class="pagetitle">
  <h1>Perfil</h1>

</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{% if profile_photo_link %}{{profile_photo_link}}{% else %}{% static 'assets/img/emptyProfile.png' %}{% endif %}" alt="Profile" class="rounded-circle" style="width: 120px; height: 120px;">
            <h2>{% if profile.name %}{{profile.name}}{% else %}{{profile.user.username}}{% endif %}</h2>
            {% if profile.country %}
              <h3>{{profile.country}}</h3>
            {% endif %}
            {% if profile.have_social_urls %}
              <div class="social-links mt-2">
                {% if profile.facebook %}
                  <a href="{{profile.facebook}}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if profile.instagram %}
                  <a href="{{profile.instagram}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                {% endif %}
                {% if profile.linkedin %}
                  <a href="{{profile.linkedin}}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
    <div class="col-xl-8">
      <div class="card fixed-ratio">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Settings
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            
            

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->
              <form action="{% url 'profile' %}" id="profile-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  {% if profile_form.errors %}
                    {% for field, errors in profile_form.errors.items %}
                      {% for error in errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <i class="bi bi-exclamation-octagon me-1"></i>
                          {{error}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>

                <div class="row mb-3">
                  <label
                    for="profileImage"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Imagem de Perfil</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <img
                        id="profileImage"
                        src="{% if profile_photo_link %}{{ profile_photo_link }}{% else %}{% static 'assets/img/emptyProfile.png' %}{% endif %}"
                        alt="Profile"
                        class="img-thumbnail"
                        style="max-width: 200px; max-height: 200px;"
                      />
                    <div class="pt-2">
                        <label for="id_profile_photo" class="btn btn-primary btn-sm" title="Upload new profile image" style="color: white;">
                            <i class="bi bi-upload"></i> Upload
                        </label>
                        {{profile_form.profile_photo}}
                        <button type="button" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="clearPreviewAndInput()">
                          <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Nome</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.name}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label"
                    >Sobre</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.about}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label"
                    >Ocupação</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.job}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label"
                    >País</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.country}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label"
                    >Endereço Residencial</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.address}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                    >Telefone</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.phone}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                    >E-mail</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.email}}
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="Facebook" class="col-md-4 col-lg-3 col-form-label"
                    >Perfil Facebook</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.facebook}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="Instagram"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Perfil Instagram</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.instagram}}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label"
                    >Perfil LinkedIn</label
                  >
                  <div class="col-md-8 col-lg-9">
                    {{profile_form.linkedin}}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Salvar
                  </button>
                </div>
              </form>
              <!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Settings Form -->
              <form>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Email Notifications</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="changesMade"
                        checked
                      />
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="newProducts"
                        checked
                      />
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="proOffers"
                      />
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="securityNotify"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label
                    for="currentPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      id="currentPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="newpassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="renewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Re-enter New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="renewpassword"
                      type="password"
                      class="form-control"
                      id="renewPassword"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Change Password
                  </button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>

    <div class="col-xl-3"></div>
  </div>
</section>

<!-- <script type="text/javascript">
  function refresh_summoner(id) {
      document.getElementById('refreshButton').disabled = true;
      $.ajax({
          type: 'GET',
          data: { 'id': id },
          url: "{% url 'index' %}",
          success: function (data) {
              console.log(data['response']);
          },
          error: function (xhr, status, error) {
              console.error('Erro na solicitação:', status, error);
          }
      });
  }
</script> -->

<script type="text/javascript">
  var profilePic = document.getElementById('profileImage')
  var inputFile = document.getElementById('id_profile_photo')
  var clearButton = document.getElementById('clear-preview');

  var reader = new FileReader();

  inputFile.onchange = function(){
    profilePic.src = URL.createObjectURL(inputFile.files[0])
  }

  function clearPreviewAndInput() {
    profilePic.src = "{% static 'assets/img/emptyProfile.png' %}";
    inputFile.value = '';
  }


</script>

{% endblock %}
